<div class="row">
  <%= link_to brand_path do %>
    <div class="col-md-2">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row terques-bg">
                    <i class="fa fa-star"></i>
                </div>
            </section>
        </div>
  </div>
  <% end %>
  
  <%= link_to campaigns_path do %>
  <div class="col-md-2">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-globe"></i>
            </div>
        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to social_path do %>
  <div class="col-md-2">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-thumbs-o-up"></i>
            </div>
        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to root_path do %>
  <div class="col-md-2">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-external-link-square"></i>
            </div>
        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to root_path do %>
  <div class="col-md-2">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-book"></i>
            </div>
        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to root_path do %>
  <div class="col-md-2">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-envelope"></i>
            </div>
        </section>
    </div>
  </div>
  <% end %>

</div>