<div class="row">
  <%= link_to brand_path do %>
    <div class="col-md-4">
        <div class="profile-nav alt">
            <section class="panel text-center">
                <div class="user-heading alt wdgt-row terques-bg">
                    <i class="fa fa-star"></i>
                </div>

                <div class="panel-body">
                    <div class="wdgt-value">
                        <h1 class="count">Brand</h1>
                        <p>Taglit Brand Resources and Matirials</p>
                    </div>
                </div>

            </section>
        </div>
  </div>
  <% end %>
  
  <%= link_to campaigns_path do %>
  <div class="col-md-4">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-globe"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h1 class="count">Campaigns</h1>
                    <p>Global Campaign Content</p>
                </div>
            </div>

        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to social_path do %>
  <div class="col-md-4">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-thumbs-o-up"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h1 class="count">Social</h1>
                    <p>Coming Soon</p>
                </div>
            </div>

        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to resources_path do %>
  <div class="col-md-4">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-external-link-square"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h1 class="count">Resources</h1>
                    <p>Coming Soon</p>
                </div>
            </div>

        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to training_path do %>
  <div class="col-md-4">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-book"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h1 class="count">Training</h1>
                    <p>Coming Soon</p>
                </div>
            </div>

        </section>
    </div>
  </div>
  <% end %>
  
  <%= link_to support_path do %>
  <div class="col-md-4">
    <div class="profile-nav alt">
        <section class="panel text-center">
            <div class="user-heading alt wdgt-row terques-bg">
                <i class="fa fa-envelope"></i>
            </div>

            <div class="panel-body">
                <div class="wdgt-value">
                    <h1 class="count">Support</h1>
                    <p>Coming Soon</p>
                </div>
            </div>

        </section>
    </div>
  </div>
  <% end %>
  
    <div class="row">
        <div class="col-lg-12">
            <br>
        </div>
    </div>


</div>

